<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes</title>
</head>
<body>
    <body bgcolor='#a9cce3'></bgcolor> 
    <font color="  #17202a ">
    <div align="center">


    <H1>Heroínas y los Héroes Tecnológicos </H1>
    <P>Este sitio busca mostrar de manera simple la información de las Heroínas y los Héroes
     Tecnológicos más representativos del ámbito de la programación.</P>
     <ul>
     <li>Babbage</li>
     <li>Berners-Lee</li>
     <li>Clake</li>
     <li>Hamilton</li>
     <li>Hopper</li>
     <li>Lovelace</li>
     <li>Turing</li>
     </ul>
     <img src="heroes.jpg" wicth = "300" height="300">
        
</body>
</html>